packages/Anaconda3-2021.04-Linux-aarch64.sh
packages/py38_rk3588.tar.gz
.vscode/
.logs/
._pycache_/
venv-gst/
__pycache__/config_manager.cpython-38.pyc
__pycache__/config_manager.cpython-312.pyc
__pycache__/run_zone_detect.cpython-38.pyc
utils/__pycache__/__init__.cpython-38.pyc
web/__pycache__/server.cpython-38.pyc
web/__pycache__/server.cpython-312.pyc
web_server_8000.log
web_server_8000.pid
__pycache__/rga_resize_plugin.cpython-38.pyc
__pycache__/rga_resize_plugin.cpython-312.pyc
__pycache__/zone_manager.cpython-38.pyc
__pycache__/zone_manager.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/disk_manager.cpython-38.pyc
utils/__pycache__/disk_manager.cpython-312.pyc
utils/__pycache__/perf_monitor.cpython-38.pyc
utils/__pycache__/perf_monitor.cpython-312.pyc
utils/__pycache__/upload_queue.cpython-38.pyc
utils/__pycache__/upload_queue.cpython-312.pyc
events/config/event_log.csv
events/config/RK3588-DEV_1_t1_35.json
events/config/RK3588-DEV_1_t5_76.json
events/config/RK3588-DEV_1_t6_201.json
events/config/RK3588-DEV_2_t1_512.json
events/config/RK3588-DEV_2_t2_681.json
events/config/RK3588-DEV_2_t5_853.json
events/config/RK3588-DEV_2_t6_978.json
events/config/RK3588-DEV_3_t1_889.json
events/config/RK3588-DEV_3_t5_930.json
events/config/RK3588-DEV_3_t6_1055.json
events/config/RK3588-DEV_4_t1_1366.json
events/config/RK3588-DEV_4_t2_1535.json
events/config/RK3588-DEV_4_t4_1953.json
events/config/RK3588-DEV_4_t5_2007.json
events/config/RK3588-DEV_4_t6_2132.json
events/config_绕行/event_log.csv
events/config_绕行/RK3588-DEV-绕行_1_t1_35.json
events/config_绕行/RK3588-DEV-绕行_1_t5_76.json
events/config_绕行/RK3588-DEV-绕行_1_t6_201.json
events/config_绕行/RK3588-DEV-绕行_2_t1_512.json
events/config_绕行/RK3588-DEV-绕行_2_t2_681.json
events/config_绕行/RK3588-DEV-绕行_2_t4_1099.json
events/config_绕行/RK3588-DEV-绕行_2_t5_1153.json
events/config_绕行/RK3588-DEV-绕行_2_t6_1278.json
logs/inference/infer_20260106_024149.log
logs/inference/infer_20260106_024154.log
video_result/test_bypass.csv
video_result/test.csv
video_result/per_id/20260106/02/RK3588-DEV-202601060241-1.mp4
video_result/per_id/20260106/02/RK3588-DEV-202601060242-2.mp4
video_result/per_id/20260106/02/RK3588-DEV-202601060242-3.mp4
video_result/per_id/20260106/02/RK3588-DEV-202601060243-4.mp4
captures/config/RK3588-DEV_1_t1_35.jpg
captures/config/RK3588-DEV_1_t5_76.jpg
captures/config/RK3588-DEV_1_t6_201.jpg
captures/config/RK3588-DEV_2_t1_512.jpg
captures/config/RK3588-DEV_2_t2_681.jpg
captures/config/RK3588-DEV_2_t5_853.jpg
captures/config/RK3588-DEV_2_t6_978.jpg
captures/config/RK3588-DEV_3_t1_889.jpg
captures/config/RK3588-DEV_3_t5_930.jpg
captures/config/RK3588-DEV_3_t6_1055.jpg
captures/config/RK3588-DEV_4_t1_1366.jpg
captures/config/RK3588-DEV_4_t2_1535.jpg
captures/config/RK3588-DEV_4_t4_1953.jpg
captures/config/RK3588-DEV_4_t5_2007.jpg
captures/config/RK3588-DEV_4_t6_2132.jpg
captures/config_绕行/RK3588-DEV-绕行_1_t1_35.jpg
captures/config_绕行/RK3588-DEV-绕行_1_t5_76.jpg
captures/config_绕行/RK3588-DEV-绕行_1_t6_201.jpg
captures/config_绕行/RK3588-DEV-绕行_2_t1_512.jpg
captures/config_绕行/RK3588-DEV-绕行_2_t2_681.jpg
captures/config_绕行/RK3588-DEV-绕行_2_t4_1099.jpg
captures/config_绕行/RK3588-DEV-绕行_2_t5_1153.jpg
captures/config_绕行/RK3588-DEV-绕行_2_t6_1278.jpg
